<div class="container-fluid">
  <div class="row">
    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
      <div class="flex-column nav-pills">
        <div class="sidebar">
          <p>Виробник
            <i *ngIf="!dropBrend" (click)="dropBrend=true" class="fa fa-angle-down" aria-hidden="true"></i>
            <i *ngIf="dropBrend" (click)="dropBrend=false" class="fa fa-angle-up" aria-hidden="true"></i>
          </p>
          <div *ngIf="dropBrend">
            <div class="form-check" *ngFor="let item of arrBrend">
              <label class="form-check-label"><input (change)="getSelected($event)" class="form-check-input"
                  type="checkbox" value="{{item.brend}}">{{item.brend}}</label>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <form>
            <p>Цiна
              <i *ngIf="!dropPrice" (click)="dropPrice=true" class="fa fa-angle-down" aria-hidden="true"></i>
              <i *ngIf="dropPrice" (click)="dropPrice=false" class="fa fa-angle-up" aria-hidden="true"></i>
            </p>
            <div *ngIf="dropPrice">
              <div class="form-row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="From">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="To">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="sidebar">
          <p>Тип
            <i *ngIf="!dropType" (click)="dropType=true" class="fa fa-angle-down" aria-hidden="true"></i>
            <i *ngIf="dropType" (click)="dropType=false" class="fa fa-angle-up" aria-hidden="true"></i>
          </p>
          <div *ngIf="dropType">
            <div class="form-check">
              <label class="form-check-label"><input class="form-check-input" type="checkbox">Дорожній</label>
            </div>
            <div class="form-check">
              <label class="form-check-label"><input class="form-check-input" type="checkbox">Гірський</label>
            </div>
            <div class="form-check">
              <label class="form-check-label"><input class="form-check-input" type="checkbox">Шосейний</label>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <p>Розмір рами
            <i *ngIf="!dropFrame" (click)="dropFrame=true" class="fa fa-angle-down" aria-hidden="true"></i>
            <i *ngIf="dropFrame" (click)="dropFrame=false" class="fa fa-angle-up" aria-hidden="true"></i>
          </p>
          <div *ngIf="dropFrame">
            <div class="form-check">
              <label class="form-check-label"><input class="form-check-input" type="checkbox">XS</label>
            </div>
            <div class="form-check">
              <label class="form-check-label"><input class="form-check-input" type="checkbox">S</label>
            </div>
            <div class="form-check">
              <label class="form-check-label"><input class="form-check-input" type="checkbox">M</label>
            </div>
            <div class="form-check">
              <label class="form-check-label"><input class="form-check-input" type="checkbox">L</label>
            </div>
            <div class="form-check">
              <label class="form-check-label"><input class="form-check-input" type="checkbox">XL</label>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <p>Діаметр коліс
            <i *ngIf="!dropWheel" (click)="dropWheel=true" class="fa fa-angle-down" aria-hidden="true"></i>
            <i *ngIf="dropWheel" (click)="dropWheel=false" class="fa fa-angle-up" aria-hidden="true"></i>
          </p>
          <div *ngIf="dropWheel">
            <div class="form-check">
              <label class="form-check-label"><input class="form-check-input" type="checkbox">24"</label>
            </div>
            <div class="form-check">
              <label class="form-check-label"><input class="form-check-input" type="checkbox">26"</label>
            </div>
            <div class="form-check">
              <label class="form-check-label"><input class="form-check-input" type="checkbox">27.5"</label>
            </div>
            <div class="form-check">
              <label class="form-check-label"><input class="form-check-input" type="checkbox">29"</label>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <p>Кількість швидкостей
            <i *ngIf="!dropSpeeds" (click)="dropSpeeds=true" class="fa fa-angle-down" aria-hidden="true"></i>
            <i *ngIf="dropSpeeds" (click)="dropSpeeds=false" class="fa fa-angle-up" aria-hidden="true"></i>
          </p>
          <div *ngIf="dropSpeeds">

          </div>
        </div>
      </div>
    </div>
    <div class="col-7 col-sm-8 col-md-9 col-lg-10">
      <div class="tab-content">
        <div class="row">
          <div class="card col-xs-12 col-md-6 col-lg-3 mt-2" *ngFor="let pr of products">
            <img [src]="pr.productImage" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{pr.brend}}</h5>
              <p class="card-text">Тип: {{pr.type}}</p>
              <p class="card-text">{{pr.sizeFrame}}, {{pr.sizeWheel}}</p>
              <h3 class="text-danger">{{pr.price}} ₴</h3>
              <a class="btn btn-primary" [routerLink]="[ '/shop/', pr.key ]">more details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
