.sidebar{
    margin-top: 20px;
    padding-right: 5px;
}
.container-fluid{
    min-height: 75vh;
}

div a span {
    visibility: hidden;
}
div a.active {
    color: red;
}
div a.active span {
    visibility: visible;
}