<div class="container">
    <div class="card mb-3 col-12 mt-2">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img [attr.src]="data?.productImage" class="card-img" alt="..." style="width: 100%;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">{{data?.brend}}</h3>
            <p class="card-text">Клас :{{data?.type}}</p>
            <p class="card-text">Розмір рами :{{data?.sizeFrame}}</p>
            <p class="card-text">Діаметр коліс :{{data?.sizeWheel}}</p>
            <p class="card-text">Кількість швидкостей :{{data?.speedsNumber}}</p>
            <p class="card-text text-danger">{{data?.price}}</p>
            <button (click)="back()">back</button>
          </div>
        </div>
      </div>
    </div>
  </div>