<div class="row" *ngIf="bascetEmpty">
  <div class="col-75">
    <div class="container">
      <form #myForm="ngForm" (ngSubmit)="submit(myForm)" novalidate>
        <div class="row">
          <div class="col-50">
            <h3>Contacts</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input required pattern="[a-zA-Z]{2,} [a-zA-Z]{2,}" type="text" [(ngModel)]="name" id="fname" name="name"
              placeholder="Yuriy Protsyk">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input required pattern="[a-zA-Z0-9_.-]+@[a-z]+\.[a-z]{2,3}" type="text" [(ngModel)]="email" id="email"
              name="email" placeholder="yura@gmail.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input required pattern="[a-zA-Z_.-]{2,} [0-9a-z]{1,}/[0-9a-z]{1,}" type="text" [(ngModel)]="address"
              id="adr" name="address" placeholder="Street house/apartment">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input required pattern="[a-zA-Z]{2,}" type="text" [(ngModel)]="city" id="city" name="city"
              placeholder="Lviv">
            <div class="row">
              <div class="col-50">
                <label for="state">Region</label>
                <input required pattern="[a-zA-Z]{5,}" type="text" [(ngModel)]="state" id="state" name="state"
                  placeholder="Lvivska">
              </div>
              <div class="col-50">
                <label for="tel">Telephone</label>
                <input pattern="[\+]\d{2}[\(]\d{3}[\)]\d{3}[\-]\d{4}" [textMask]="{mask: mask}" type="text"
                  [(ngModel)]="tel" id="tel" name="tel" placeholder="+38(123)123-4567">
              </div>
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="myForm.invalid" (click)="order(items)" class="btn btn-success">Place an
          order</button>
      </form>
    </div>
  </div>
  <div class="col-25">
    <div class="container">
      <h4>Basket
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
          <b> {{items.length}}</b>
        </span>
      </h4>
      <div *ngFor="let item of items; let i=index">
        <p><img [src]="item.productImage" alt="" style="width: 60px;"></p>
        <h3 class="card-title">{{item?.brend}}</h3>
        <h4>Quantity: {{item?.quantity}}</h4>
        <input type="button" value="-" (click)="minus(item)" class="btn btn-primary mx-1">
        <input type="button" value="+" (click)="plus(item)" class="btn btn-primary mx-1">
        <p class="card-text text-danger">Price {{item.price*item.quantity }}</p>
        <button (click)="delProd(item)" type="button" class="btn btn-danger">Del</button>
        <hr>
      </div>
      <hr>
      <p>Total price <span class="price" style="color:black"><b>{{totalPrice}}</b></span></p>
    </div>
  </div>
</div>
<div class="row" *ngIf="!bascetEmpty" >
<p style="height: 478px; width: 100%; text-align: center;">Bascet Empty</p>
</div>