<footer class="container-fluid">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-12 social padding">
        <a href="#"> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> </a>
        <a href="#"> <i class="fab fa-instagram-square fa-2x" aria-hidden="true"></i> </a>
        <a href="#"> <i class="fa fa-twitter-square fa-2x" aria-hidden="true"> </i> </a>
        <a href="#"> <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"> </i> </a>
        <a href="#"> <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"> </i> </a>
        <a href="#"> <i class="fab fa-youtube fa-2x" aria-hidden="true"> </i> </a>
      </div>
    </div>

  </div>

  <div class="footer-copyright text-center">© 2020 Copyright:
    <a target="_blank" href="https://www.facebook.com/protsyk.yuriy"> Protsyk Yuriy</a>
  </div>

</footer>
