<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#"><img style="opacity: .8; border-radius: 30px;" src="../../../assets/img/velo-logo.jpg" alt=""></a> -->
    <a class="navbar-brand" href="#"><i style="opacity: .8;" class="fas fa-bicycle fa-3x"></i></a>

    <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler" type="button" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " style="margin-left: 10px;">
          <a class="nav-link" (click)="isMenuCollapsed = true" [routerLink]="[ '/home' ]" routerLinkActive="active">Home
          </a>
        </li>
        <li class="nav-item " style="margin-left: 10px;">
          <a class="nav-link" (click)="isMenuCollapsed = true" [routerLink]="[ '/shop' ]"
            routerLinkActive="active">Shop</a>
        </li>
        <li class="nav-item " style="margin-left: 10px;">
          <a class="nav-link" (click)="isMenuCollapsed = true" [routerLink]="[ '/blog' ]"
            routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item " style="margin-left: 10px;">
          <a class="nav-link" (click)="isMenuCollapsed = true" [routerLink]="[ '/contacts' ]"
            routerLinkActive="active">Contacts</a>
        </li>
        <li *ngIf="currentUser?.loginStatus&&currentUser?.userAdmin" class="nav-item " style="margin-left: 10px;">
          <a class="nav-link" (click)="isMenuCollapsed = true" [routerLink]="[ '/admin' ]"
            routerLinkActive="active">Admin</a>
        </li>
      </ul>

      <button *ngIf="!currentUser?.loginStatus" (click)="isMenuCollapsed = true" (click)="openModal(template)"
        class="btn btn-outline-success my-2 " type="button" style="margin-left: 10px;"><i class="fa fa-sign-in"
          aria-hidden="true"></i>Login</button>
      <button *ngIf="currentUser?.loginStatus" (click)="isMenuCollapsed = true" (click)="openModal(template1)"
        class="btn my-2 " type="button" style="margin-left: 10px;">Hi <i class="fa fa-user-circle"
          aria-hidden="true"></i>
        {{currentUser.userName}}</button>
      <button (click)="isMenuCollapsed = true" [routerLink]="[ '/basket' ]" routerLinkActive="active" class="btn my-2"
        type="button">
        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
      </button>
    </div>

  </div>

</nav>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left "><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>SignIn</a>
        <ng-template ngbNavContent>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input [(ngModel)]="SignInEmail" name="SignInEmail" type="email" class="form-control"
                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input [(ngModel)]="SignInPass" name="SignInPass" type="password" class="form-control"
                id="exampleInputPassword1" placeholder="Password">
            </div>
            <button (click)="SignInUser()" type="submit" class="btn btn-primary">SignIn</button>
          </form>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>SignUp</a>
        <ng-template ngbNavContent>
          <form>
            <div class="form-group">
              <label for="exampleInputName">Name</label>
              <input [(ngModel)]="userName" name="userName" type="text" class="form-control" id="exampleInputName"
                placeholder="Name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input [(ngModel)]="userEmail" name="userEmail" type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input [(ngModel)]="userPass" name="userPass" type="password" class="form-control"
                id="exampleInputPassword1" placeholder="Password">
            </div>
            <button (click)="newUser()" type="submit" class="btn btn-primary">SignUp</button>
          </form>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>
</ng-template>

<ng-template #template1>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form>
    <div class="imgcontainer">
      <img src="../../../assets/img/male_avatar.png" alt="Avatar" class="avatar">
    </div>
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" disabled>

      <label for="psw"><b>Password</b></label>
      <input type="text" placeholder="Enter Password" name="psw" disabled>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Password" name="email" disabled>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Log Out</button>
    </div>
  </form>
</ng-template>
