<!-- <div class="container">
    <div class="row">
        <div class="card col-3 mt-2" *ngFor="let pr of products">
            <img [attr.src]="pr.image" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">{{pr.name}}</h5>
              <p class="card-text">{{pr.description}}</p>
              <h3 class="text-danger">{{pr.price}} grn</h3>
              <a class="btn btn-primary" [routerLink]="[ '/menu/'+pr.categoryName, pr.id ]">more details</a>
            </div>
          </div>
    </div>
</div> -->