@font-face {
  font-family: 'Alice';
  src: url('../assets/fonts/Alice/Alice-Regular.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha/Neucha-Regular.ttf');
}

@font-face {
  font-family: 'Oranienbaum';
  src: url('../assets/fonts/Oranienbaum/Oranienbaum-Regular.ttf');
}

@font-face {
  font-family: 'Gabriela';
  src: url('../assets/fonts/Gabriela/Gabriela-Regular.ttf');
}

@font-face {
  font-family: 'Acme';
  src: url('../assets/fonts/Acme/Acme-Regular.ttf');
}

@font-face {
  font-family: 'Gloria Hallelujah';
  src: url('../assets/fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf');
}

@font-face {
  font-family: 'Monoton';
  src: url('../assets/fonts/Monoton/Monoton-Regular.ttf');
}
