#fixed{
    height: 500px;
    border-top: 5px solid #f0f0f0;
    border-bottom: 5px solid #f0f0f0;
    background: url(../../../assets/img/background-blog.jpg) no-repeat center center fixed;
    background-size: cover;
}
p{background: transparent;}