
<div class="container">
  <img src="../../../assets/img/00s.jpg.jpg" alt="">
  <h1>Город для велосипедов</h1>
  <div class="j-e-text" id="entrytext" itemprop="text"><img src="https://varlamov.me/img/bike_city/00s.jpg"
      data-action="zoom"><br><br>На прошлой неделе я обзавелся велосипедом и решил на лето максимально отказаться от
    машины. Это оказалось не так просто, так как Москва, впрочем, как и все остальные города России, для велосипедистов
    совершенно не приспособлены. Каждая поездка по городу на велосипеде напоминает охоту на тигра в джунглях - за каждым
    поворотом поджидает опасность, нельзя ни на секунду терять бдительность, а если ты вернулся живым - считай повезло.
    <br><br>К сожалению, велосипеду городские власти не уделяют должного внимания, а зря. Ведь именно он может избавить
    город от пробок в теплое время года. Вопреки сложившимся стереотипам на велосипеде можно кататься до глубокой осени,
    а некоторые катаются круглый год! Рассуждения скептиков, "зачем нам велодорожки, когда у нас снег полгода лежит"
    просто смешны. Это все равно, что ставить под сомнение необходимость мыть руки, ведь они через час опять
    испачкаются... Велосипед - это очень круто. В Европе я всегда стараюсь брать на прокат велосипед, чтобы
    передвигаться по городу. Но у нас есть одна большая проблема. Для велосипедов нет никакой инфраструктуры. Более
    того, мало кто вообще понимает, какая она должна быть. Сейчас велосипедистам предлагают передвигаться по дорогам
    наравне с автомобилями, но это практически невозможно, так как шанс угодить под колеса очередного драндулета очень
    велик. По тротуарам передвигаться нельзя, но приходится. В людных местах делать это почти невозможно.
    <br><br>Немаловажной проблемой остается отсутствие велокультуры у пешеходов и водителей. В принципе, у нас все
    участники дорожного движения плюют друг на друга. Водители ставят свои повозки на тротуарах, пешеходы считают, что
    могут переходить дорогу, где вздумается, а тут еще велосипедисты… Городу нужны не просто велодорожки, городу нужно
    прививать велокультуру. Нужно строго разводить автомобилистов, пешеходов и велосипедистов, чтобы они на дороги не
    пересекались. При этом у каждого должна быть своя неприкосновенная территория.<br><br>Давайте посмотрим, как
    организовано велодвижение в других странах.<br><br><a name="cutid1" target="_self"></a><br><br>01. Начнем с
    велодорожек. В идеале они должны иметь хорошее покрытие и отличаться от дороги и тротуара. В данном случае все
    понятно, что здесь место для велосипедов, и пешеход сюда не зайдет.<br><img
      src="https://varlamov.me/img/bike_city/01.jpg" data-action="zoom"><br><br>02. Это загородная дорога в Дании. Здесь
    велодорожки с двух сторон, похожи на тротуар.<br><img src="https://varlamov.me/img/bike_city/02.jpg"
      data-action="zoom"><br><br>Загородная дорога в Бельгии:<br><img
      src="https://varlamov.me/img/belg_kirpichnie_doma/28.jpg" data-action="zoom"><br><br>03. Самый простой и дешевый
    способ, выделить на дороге отдельную полосу для велосипедистов. Достаточно просто нанести новую разметку. Конечно,
    нужно сильно поднять штрафы для водителей, чтобы не смели заезжать на эту полосу.<br><img
      src="https://varlamov.me/img/bike_city/03.jpg" data-action="zoom"><br><br>Дополнительно можно устанавливать
    ограничители для машин, как это сделать в Барселоне.<br><img src="https://varlamov.me/img/sp_barselona/40.jpg"
      data-action="zoom"><br><br>04. Это уже Голландия. Велодорожка отделена газоном от проезжей части. Идеальное
    решение.<br><img src="https://varlamov.me/img/bike_city/04.jpg" data-action="zoom"><br><br>05. Велосипед - такой же
    участник дорожного движение как пешеход и машина. Для велосипедов нужна отдельная разметка, знаки и светофоры. Не
    стоит забывать, что среди велосипедистов много мудаков, которых тоже нужно учить ездить по правилам, выполнять
    требования знаков. Во многих странах велосипедистов штрафуют за нарушение ПДД наравне с автомобилистами, что
    правильно.<br><img src="https://varlamov.me/img/bike_city/05.jpg" data-action="zoom"><br><br>06. На перекрестках
    велодорожки выделяются цветом, чтобы были заметны автомобилям и пешеходам.<br><img
      src="https://varlamov.me/img/bike_city/06.jpg" data-action="zoom"><br><br>07.<br><img
      src="https://varlamov.me/img/bike_city/07.jpg" data-action="zoom"><br><br>08. Велодорожка в центре
    Копенгагена.<br><img src="https://varlamov.me/img/bike_city/08.jpg" data-action="zoom"><br><br>09. Велодорожка в
    пешеходной зоне Амстердама.<br><img src="https://varlamov.me/img/bike_city/09.jpg"
      data-action="zoom"><br><br>10.<br><img src="https://varlamov.me/img/bike_city/10.jpg"
      data-action="zoom"><br><br>11. Урна для велосипедистов. Можно бросать мусор на ходу.<br><img
      src="https://varlamov.me/img/bike_city/11.jpg" data-action="zoom"><br><br>12. Для велосипедистов нужно
    устанавливать отдельные светофоры.<br><img src="https://varlamov.me/img/bike_city/12.jpg"
      data-action="zoom"><br><br>Даже в Буркина-Фасо есть отдельные полосы и светофоры для велосипедистов!<br><img
      src="https://varlamov.me/img/bf_put1/01.jpg" data-action="zoom"><br><br>Теперь про то, куда ехать на велосипеде.
    Москва город большой. Даже если создать идеальную велоинфраструктуру, из Щукина Кац в центр не приедет. <br><br>На
    велосипеде жители города в первую очередь должны добираться от своего дома до крупных транспортных узлов, например
    до станций метро. В центре же должна быть возможность взять велосипед на прокат.<br><br>13. Посмотрим Лондон. Как и
    во многих крупных городах Европы, в Лондоне развернули большую сеть проката велосипедов. Стоимость проката в сутки 1
    фунт, а дальше все зависит от времени. 30 минут бесплатно, 1 час - 1 фунт. 2 часа - 6 фунтов, 3 часа - 15 фунтов.
    Чем больше вы пользуетесь - тем дороже. Стоянок очень много. Вы можете взять велосипед на одной и вернуть на другой.
    Сделано это для того, чтобы разгрузить общественный транспорт. <br><img
      src="https://varlamov.me/img/bike_city/13.jpg" data-action="zoom"><br><br>Или вот парковка в Барселоне.
    Расположены такие велопарковки также часто как и автобусные остановки. Оплата происходит по карточкам. Достаточно
    один раз зарегистрироваться и потом брать велосипед. Это очень удобно. Центру Москвы такая система просто
    необходима. И еще, в большинстве случае город не несет никакой финансовой нагрузки на эксплуатацию такой системы.
    Обычно ее спонсируют компании, которые потом размещают на велосипедах свою рекламу.<br><img
      src="https://varlamov.me/img/sp_barselona/39.jpg" data-action="zoom"><br><br>14. Так же в городе нужно открывать
    пункты обслуживания и ремонта велосипедов. Но они появятся сами, когда будет спрос.<br><img
      src="https://varlamov.me/img/bike_city/14.jpg" data-action="zoom"><br><br>15. Теперь про парковки. Это самая
    большая проблема. Велопарковки нужны везде. Самое главное, организовать велопарковки около транспортных узлов -
    станций метро, ЖД вокзалов, автобусных станций. У каждого жителя должна быть возможно доехать от квартиры до метро
    на велосипеде и оставить его на охраняемой парковке. <br><img src="https://varlamov.me/img/bike_city/15.jpg"
      data-action="zoom"><br><br>16. Парковки, конечно, нужны и на простых улицах города, около магазинов, отделений
    банков, почты, аптек, школ и т.д.<br><img src="https://varlamov.me/img/bike_city/16.jpg"
      data-action="zoom"><br><br>17. Это заезд на подземную велопарковку в Амстердаме.<br><img
      src="https://varlamov.me/img/bike_city/17.jpg" data-action="zoom"><br><br>18. Вот так она выглядит. У нас сейчас
    нельзя приехать в торговый центр или магазин на велосипеде, его просто негде оставить!<br><img
      src="https://varlamov.me/img/bike_city/18.jpg" data-action="zoom"><br><br>19. На каждой подземной парковке должно
    быть место для велосипедов.<br><img src="https://varlamov.me/img/bike_city/19.jpg" data-action="zoom"><br><br>20.
    Парковки на улицах.<br><img src="https://varlamov.me/img/bike_city/20.jpg" data-action="zoom"><br><br>21. Парковки
    около подъездов.<br><img src="https://varlamov.me/img/bike_city/21.jpg" data-action="zoom"><br><br>22. Большие
    крытые парковки для долгого хранения велосипеда в жилых районах.<br><img
      src="https://varlamov.me/img/bike_city/22.jpg" data-action="zoom"><br><br>23. Стихийная парковка на улицах
    Амстердама.<br><img src="https://varlamov.me/img/bike_city/23.jpg" data-action="zoom"><br><br>24. Кстати, велосипеды
    бывают разные. например, такие:<br><img src="https://varlamov.me/img/bike_city/24.jpg"
      data-action="zoom"><br><br>25. Или вот такие.<br><img src="https://varlamov.me/img/bike_city/25.jpg"
      data-action="zoom"><br><br>26.<br><img src="https://varlamov.me/img/bike_city/26.jpg" data-action="zoom"><br><br>И
    еще. Есть одна большая проблема, что наш транспорт не приспособлен для перевозки велосипедов. Это так. У нас города
    приспособлены только для чиновников с мигалками. А пешеходы, инвалиды, дети, велосипедисты - вынуждены каждый день
    преодолевать препятствия. В Европе, например, в каждом поезде есть специальные вагоны для велосипедистов. Здесь у
    меня нет решения. С одной стороны, у велосипедиста должна быть возможность перевести своего друга в центр города. С
    другой, при нынешней перегруженности метро, мне трудно представить, как это сделать. Думаю, в метро стоит разрешить
    провод велосипедов кроме часов-пик. Например, после 10 вечера, когда метро свободно, велосипедисты не будут никому
    мешать.<br><br>27. Всякие зануды любят рассуждать, что на велосипеде якобы нельзя катаются в плохую погоду. В
    Амстердаме дождь идет почти круглый год, и ничего, все катаются и рады.<br><img
      src="https://varlamov.me/img/bike_city/27.jpg" data-action="zoom"><br><br>Вот видео из Копенгагена. Снег идет, -3,
    а люди едут:<br><br><iframe
      src="https://l.lj-toys.com/?auth_token=sessionless%3A1582308000%3Aembedcontent%3A10761149%26236%26%260%26youtube%26_mXOqv38euQ%3Ad65d57e564fd6d36a7d7e291d108aa7c06c909fa&amp;source=youtube&amp;vid=_mXOqv38euQ&amp;moduleid=236&amp;preview=0&amp;journalid=10761149&amp;noads="
      width="640" height="385" frameborder="0" class="lj_embedcontent" allowfullscreen=""
      name="embed_10761149_236"></iframe><br><br>Про воровство. Велосипеды воруют, от этого никуда не деться. Чем больше
    будет велосипедов, тем больше их будут воровать. К сожалению, с этой проблемой еще никому не удалось
    справиться.<br><br>28. Велосипед - это очень круто. Во-первых, это разгрузит дороги. Во-вторых, это улучшит экологию
    города. В-третьих, это улучшит здоровье населения, вы много видели велосипедистов с сигаретой в зубах и бутылкой
    пива? В прошлые выходные на велопробег в Москвы вышли 5000 велосипедистов! Это доказывает, что несмотря на все
    препятствия, люди все активнее пересаживают на двухколесный транспорт. Властям Москвы и других городов больше нельзя
    игнорировать эту проблему. Строительство велоинфраструктуры должно стать приоритетным направлением в развитии
    города.<br><img src="https://varlamov.me/img/bike_city/28.jpg" data-action="zoom"><br>

  </div>
</div>
