<div class="row col-12 m-2" *ngFor="let blog of blogs | orderBy: 'dateAdd':true">
  <div class="col-12">
    <h1>{{blog.title}}</h1>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4">
    <img [src]="blog.blogImage" alt="" style=" width: 100%; ">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8">
    <p>{{blog.description}}</p>
    <a class="nav-link" [routerLink]="[ '/blog/', blog.key ]" routerLinkActive="active"><input type="button"  value="Читати дальше" class="btn btn-warning"></a>
  </div>
</div>
