<h1>Users</h1>
<div *ngFor="let user of users" style="width: 300px;">
  <div *ngIf="user">
    <div>
      <label>Name: </label> {{user.userName}}
    </div>
    <div>
      <label>Email: </label> {{user.userEmail}}
    </div>
    <div>
      <label>Admin: </label> {{user.userAdmin}}
    </div>
    <div>
      <label>Online: </label> {{user.loginStatus}}
    </div>
    <div>
      <label>key: </label> {{user.key}}
    </div>
    <div>
      <label>AuthId: </label> {{user.id}}
    </div>
    <span class="button is-small btn-primary" *ngIf='user.userAdmin' (click)='updateActive(false, user)'>Admin
      Inactive</span>

    <span class="button is-small btn-primary" *ngIf='!user.userAdmin' (click)='updateActive(true, user)'>Admin
      Active</span>

    <span class="button is-small btn-danger" (click)='deleteUser(user)'>Delete</span>

    <hr />
  </div>
</div>
<div style="margin-top:20px;">
  <button type="button" class="button btn-danger" (click)='deleteUsers()'>Delete All</button>
</div>
