slide {
  max-height: 500px;

  img {
    min-height: 150px;
  }
}

.product {
  display: none;
}

.product:nth-child(2),
.product:nth-child(3),
.product:nth-child(4),
.product:nth-child(5),
.product:nth-child(6),
.product:nth-child(7) {
  display: block;
  padding: 30px 30px;
  // border: 1px solid black;
  // border-radius: 15px;
}

.blog{
  display: none;
}

.blog:nth-child(2){
  display: flex;
  padding: 30px 30px;
}

.prodimg {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 275px;
}

.prodimg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 576px) {
  .jumbotron>div>img {
    display: none;
  }
}
