slide {
  max-height: 500px;

  img {
    min-height: 150px;
  }
}

.product {
  display: none;
}

.product:nth-child(2),
.product:nth-child(3),
.product:nth-child(4),
.product:nth-child(5),
.product:nth-child(6),
.product:nth-child(7) {
  display: block;
  padding: 30px 30px;
}

@media (max-width: 576px) {
  .jumbotron>div>img {
    display: none;
  }
}
