<h1>Orders</h1>
<div *ngFor="let order of orders; let i=index" style="width: 300px;">
  <div *ngIf="order">
    <div>
      {{i+1}}
    </div>
    <div>
      <label>Name: </label> {{order.name}}
    </div>
    <div>
      <label>Email: </label> {{order.email}}
    </div>
    <div>
      <label>Address: </label> <p>м.{{order.city}} вул.{{order.address}}, обл.{{order.state}}, поштовий індекс:{{order.zip}}</p> 
    </div>
    <div>
      <label>Orders: </label> <br>
      {{order.orders}}
    </div>

    <hr />
  </div>
</div>
